.animated-navbar {
    background-image: linear-gradient(to right, #8BC34A, #4CAF50);
    color: #F7F7F7;
    font-weight: bold;
    animation: slideIn 1s ease-out; /* Slide-in animation */
  }
  
  .animated-brand {
    color: #F7F7F7;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link {
    color: #F7F7F7;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: #C8E6C9; /* Hover color for the links */
  }
  
  .btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #8BC34A;
    border-color: #8BC34A;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  